*.iml
.gradle
/plannap-android/local.properties
/plannap-android/.idea/caches/build_file_checksums.ser
/plannap-android/.idea/libraries
/plannap-android/.idea/modules.xml
/plannap-android/.idea/workspace.xml
.DS_Store
/plannap-android/build
/plannap-android/captures
.externalNativeBuild
